@import "style.css";
div#content {
  transition: all 600ms linear 0ms;
  -webkit-transition: all 600ms linear 0ms;
  -moz-transition: all 600ms linear 0ms;
  -o-transition: all 600ms linear 0ms;
  -ms-transition: all 600ms linear 0ms;
  border: 1px solid #ccc;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-left: -230px;
  margin-top: -160px;
  width: 460px;
  height: 320px;
}
#background {
  position: absolute;
  z-index: 0;
}
div.gameState {
  display: none;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 12px;
  z-index: 1;
}
#btnLowQuality {
  background-image: url(../img/icon_ghost_low.png);
  right: 70px;
}
#btnHighQuality {
  background-image: url(../img/icon_ghost.png);
  right: 12px;
}
#mouseover_box {
  transition: all 600ms linear 0ms;
  -webkit-transition: all 600ms linear 0ms;
  -moz-transition: all 600ms linear 0ms;
  -o-transition: all 600ms linear 0ms;
  -ms-transition: all 600ms linear 0ms;
  position: absolute;
  border: 1px solid #fff;
  background-color: #000;
  right: 12px;
  bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 0px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0px 0px 8px #eeeeee;
  -webkit-box-shadow: 0px 0px 8px #eeeeee;
  -ms-box-shadow: 0px 0px 8px #eeeeee;
  box-shadow: 0px 0px 8px #eeeeee;
  width: 100px;
  height: 20px;
}
#mouseover_text {
  font-size: 16px;
}
#btnScale {
  position: absolute;
  bottom: -56px;
  left: 12px;
}
.buttonQuality {
  transition: all 600ms linear 0ms;
  -webkit-transition: all 600ms linear 0ms;
  -moz-transition: all 600ms linear 0ms;
  -o-transition: all 600ms linear 0ms;
  -ms-transition: all 600ms linear 0ms;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  position: absolute;
  bottom: -48px;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: #000;
  padding: 6px;
  -moz-box-shadow: 0px 0px 8px #eeeeee;
  -webkit-box-shadow: 0px 0px 8px #eeeeee;
  -ms-box-shadow: 0px 0px 8px #eeeeee;
  box-shadow: 0px 0px 8px #eeeeee;
  width: 32px;
  height: 32px;
}
.buttonQuality:hover {
  border: 1px solid #ccc;
  background-color: #444;
  -moz-box-shadow: 0px 0px 4px #eeeeee;
  -webkit-box-shadow: 0px 0px 4px #eeeeee;
  -ms-box-shadow: 0px 0px 4px #eeeeee;
  box-shadow: 0px 0px 4px #eeeeee;
}
div#loading {
  top: 0px;
  background-color: #fff;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}
div#btnAchUp {
  background: url(../img/btnAchUp.png);
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -100px;
  width: 200px;
  height: 20px;
  z-index: 10;
}
div#btnAchDown {
  background: url(../img/btnAchDown.png);
  position: absolute;
  left: 50%;
  top: 225px;
  margin-left: -100px;
  width: 200px;
  height: 20px;
  z-index: 10;
}
div#game {
  top: 0px;
}
div#mouserect {
  position: absolute;
  cursor: crosshair;
  z-index: 5;
}
div.blackrect {
  background: #000000;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}
div#achievement_box {
  background-color: #000;
  background-image: url(../img/trophy.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  position: absolute;
  left: 80px;
  bottom: -80px;
  width: 240px;
  height: 50px;
  padding-left: 60px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-top: 8px;
  z-index: 20;
  border: 1px solid #fff;
  background-color: #000;
  border-radius: 18px 18px 18px 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-box-shadow: 0px 0px 8px #eeeeee;
  -webkit-box-shadow: 0px 0px 8px #eeeeee;
  -ms-box-shadow: 0px 0px 8px #eeeeee;
  box-shadow: 0px 0px 8px #eeeeee;
}
.ach_box {
  background-image: url(../img/trophy.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  padding-left: 60px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-top: 8px;
  border: 1px solid #fff;
  background-color: #000;
  border-radius: 18px 18px 18px 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-box-shadow: 0px 0px 8px #eeeeee;
  -webkit-box-shadow: 0px 0px 8px #eeeeee;
  -ms-box-shadow: 0px 0px 8px #eeeeee;
  box-shadow: 0px 0px 8px #eeeeee;
}
.locked {
  background-color: #333 !important;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.unlocked {
  background-color: #666 !important;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#ach_title {
  color: #c0ffc0;
  text-shadow: 0px 0px 24px #eee;
}
#ach_list {
  height: 120px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.ach_locked {
  color: #333;
  text-shadow: 0px 0px 4px #ccc;
}
.ach_unlocked {
  color: #c0ffc0;
  text-shadow: 0px 0px 24px #eee;
}
.ach_details {
  color: #111;
  text-shadow: 0px 0px 4px #ccc;
}
.lowQuality {
  border-radius: 0px 0px 0px 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-box-shadow: 0px 0px 0px #eee !important;
  -webkit-box-shadow: 0px 0px 0px #eee !important;
  -ms-box-shadow: 0px 0px 0px #eee !important;
  box-shadow: 0px 0px 0px #eee !important;
  text-shadow: 0px 0px 0px #000 !important;
  -webkit-mask-image: none !important;
}
div.overlay {
  position: absolute;
  background-color: #242424;
  border: 1px solid #ffffff;
  color: #eeeeee;
  font-size: 22px;
  text-align: right;
  vertical-align: middle;
  padding-top: 4px;
  padding-right: 4px;
  width: 90px;
  height: 32px;
  min-width: 90px;
  min-height: 32px;
  max-width: 90px;
  max-width: 32px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0px 0px 8px #000000;
  -webkit-box-shadow: 0px 0px 8px #000000;
  -ms-box-shadow: 0px 0px 8px #000000;
  box-shadow: 0px 0px 8px #000000;
  z-index: 10;
}
#overlayGhosts {
  background-image: url(../img/icon_ghost.png);
  background-repeat: no-repeat;
  left: 4px;
  top: 4px;
}
#overlayTime {
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  left: 356px;
  top: 4px;
}
#overlayPause {
  background-image: url(../img/pause.png);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  width: 44px;
  height: 44px;
  max-width: 44px;
  max-height: 44px;
  min-width: 44px;
  min-height: 44px;
  left: 420px;
  top: 280px;
}
.objGhost {
  cursor: crosshair;
}
span {
  cursor: default;
  font-size: 17px;
  color: #40ff40;
  text-shadow: 1px 1px 4px #000000;
}
span #title {
  font-size: 42px;
  color: #40ff40;
  text-shadow: 0 0 5px #000000;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.25)));
}
span .button {
  font-size: 32px;
}
span a, span.button a {
  height: 26px;
  transition: all 600ms linear 0ms;
  -webkit-transition: all 600ms linear 0ms;
  -moz-transition: all 600ms linear 0ms;
  -o-transition: all 600ms linear 0ms;
  -ms-transition: all 600ms linear 0ms;
  color: #99cb99;
  text-shadow: 2px 2px 8px #000000;
  /*filter:DropShadow(color=#000000, offx=2, offy=2);*/

  text-decoration: none;
}
span.button:hover, span.button a:hover, span a:hover {
  color: #c0ffc0;
  text-shadow: 0px 0px 24px #eee;
  /*filter:Glow(color=#eeeeee, strength=8);*/

}
span.button:active,
span.button a:active,
span a:active,
span.button:visited,
span.button a:visited,
span a:visited {
  color: #e6ffe6;
}
